{% extends 'base.html' %} {% block title %} Products {% endblock %}
{% block content %}
    <script>
        const navbar = document.getElementById("navbar");
        navbar.classList.add("bg-black");
    </script>
    <div class="min-h-screen pt-20">
        <section class="flex justify-center">
            <div class="container  flex justify-center p-6 ">
                <div class="w-1/2 flex  place-items-center m-2">
                    <div class="flex flex-col justify-center h-96 ">
                        {% for product_image in product.productimage_set.all %}
                            <div class="w-20 h-20 overflow-hidden m-2 hover:scale-105  " onclick="changeMainImage('{{ product_image.image.url }}')">
                                <img src="{{ product_image.image.url }}" alt="product_image_{{ product_image.id }}"
                                     class=" object-cover ">
                            </div>
                        {% endfor %}

                    </div>
                    <div class="flex justify-center w-full">
                        <img id="main-image" src="{{ product.get_dp_url }}" alt="product_image" class="w-96">
                    </div>
                </div>
                <form method="POST" action="" class="w-1/2 p-2 flex flex-col">
                    {% csrf_token %}
                    <h1 class="font-semibold text-3xl">{{ product.name }}</h1>
                    <textarea class="textarea my-4 w-full grow" disabled>{{ product.description }}</textarea>
                    <div class="flex">
                        <div class="mx-2">
                            <label class="label">
                                <span class="label-text">Size</span>
                            </label>
                            <select class="select select-primary" name="size">
                                {% for size in product.size.all %}
                                    <option value="{{ size.id }}">{{ size.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="mx-2">
                            <label class="label">
                                <span class="label-text">Quantity</span>
                            </label>
                            <div>
                                <button type="button" class="btn  " onclick="increaseQuantity()">+</button>
                                <input id="product-quantity" class="input  px-4 w-20" value='1' name="quantity" >
                                <button type="button" class="btn " onclick="decreaseQuantity()">-</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex place-items-center justify-between">
                        <p class="m-2 font-bold text-2xl">
                            ₹<span id="price">{{ product.price }}</span>
                        </p>
                        <div>
                            <button class="btn btn-primary m-2">
                            Buy Now
                        </button>
                        <button class="btn btn-outline m-2">Add to Cart</button>
                        </div>
                    </div>
                </form>


            </div>

        </section>
    </div>
    <script>
        const mainImageElement = document.getElementById('main-image');
        const productQuantityElement = document.getElementById('product-quantity');
        const totalPriceSpan = document.getElementById('price');
        var basePrice = {{ product.price }} ;
        productQuantityElement.addEventListener('change',function (evt) {
            let value = Number(productQuantityElement.value);
            if(value < 1){
                productQuantityElement.value = 1;
            }
        })

        function changeMainImage(src) {
            mainImageElement.src = src ;
        }

        function increaseQuantity(){
            let value = Number(productQuantityElement.value) ;
            value = value + 1;
            productQuantityElement.value  = value ;
            totalPriceSpan.innerText = String(value * basePrice);

        }
        function decreaseQuantity(){
            let value = Number(productQuantityElement.value) ;
            if (value > 1){
                value = value -1 ;
                 productQuantityElement.value  = value ;
                 totalPriceSpan.innerText = String(value*basePrice);
            }
        }



    </script>

{% endblock %}
