{% extends 'base.html' %}
{% block title %}
    Checkout
{% endblock %}
{% block content %}
    <script>
        const navbar = document.getElementById("navbar");
        navbar.classList.add("bg-black");
    </script>
    <div class="pt-20 pb-10 flex flex-col min-h-screen w-screen justify-start place-items-center">
        <div class="container px-6">
            <h1 class="text-3xl font-bold my-4 mx-2">Checkout</h1>
            <div class="flex flex-col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Size</th>
                        <th>Unit Price(₹)</th>
                        <th>Quantity</th>
                        <th>Total Price(₹)</th>
{#                        <th>Action</th>#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                <a href="{% url 'product' item.product.id %}" target="_blank" class="flex place-items-center space-x-4 ">
                                <img src="{{ item.product.get_dp_url }}" alt="product-image"
                                     class="mask mask-square w-16 h-16">
                                <span class="text-lg font-semibold ">{{ item.product.name }}</span>
                                    </a>
                            </td>
                            <td>{{ item.size }}</td>
                            <td>₹{{ item.product.price }}</td>
                            <td>
                                {{ item.quantity }}
                            </td>
                            <td class="font-semibold">₹{% widthratio item.product.price 1 item.quantity %}</td>
{#                            <td>#}
{#                                <button class="btn btn-primary btn-sm">Remove</button>#}
{#                            </td>#}
                        </tr>
                    {% endfor %}
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="font-bold text-lg">Total</th>
                        <th class="font-bold text-lg">₹{{ total }}</th>
                    </tr>
                    </tbody>
                </table>
                <form method="post" action="{% url 'payment' %}" class="flex p-6 justify-end ">
                    {% csrf_token %}
                    <button type="submit" name="cart-order" class="btn btn-primary btn-wide">Place Order</button>
                </form>
            </div>
        </div>

    </div>



{% endblock %}
